header{
    background-color: black;
    color: aqua;
    padding: 10px 0;
    text-align: center;
}

header h1{
    margin: 0;
    
}

nav ul{
    list-style:none ;padding: 0%;
}

ul li {text-decoration: none;}